* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: block;
    background-color: #000000;
    background-image: url("http://finleygomez.com/img/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: block;
    -webkit-animation: ZOOM 3s normal;
    /* Safari 4+ */
    -moz-animation: ZOOM 3s normal;
    /* Fx 5+ */
    -o-animation: ZOOM 3s normal;
    /* Opera 12+ */
    animation: ZOOM 3s normal;
    /* IE 10+, Fx 29+ */
    z-index: -1;
}

.social-grid-container {
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    z-index: 1000;
}

#social {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    width: fit-content;
    height: fit-content;
    -webkit-filter: invert(1);
    /* Safari 4+ */
    -moz-filter: invert(1);
    /* Fx 5+ */
    -o-filter: invert(1);
    /* Opera 12+ */
    filter: invert(1);
    /* IE 10+, Fx 29+ */
    -webkit-animation: FADEIN2 3s normal;
    /* Safari 4+ */
    -moz-animation: FADEIN2 3s normal;
    /* Fx 5+ */
    -o-animation: FADEIN2 3s normal;
    /* Opera 12+ */
    animation: FADEIN2 3s normal;
    /* IE 10+, Fx 29+ */
    margin: 0 auto;
    padding-bottom: 20px;
}

#social a {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
    float: right;
}

#social a img {
    padding: 15px;
    opacity: 0.5;
    vertical-align: middle;
}

#social a:hover img {
    transition: 0.2s;
    opacity: 1;
}

#content {
    -webkit-animation: FADEIN 3s normal;
    /* Safari 4+ */
    -moz-animation: FADEIN 3s normal;
    /* Fx 5+ */
    -o-animation: FADEIN 3s normal;
    /* Opera 12+ */
    animation: FADEIN 3s normal;
    /* IE 10+, Fx 29+ */

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: center;
}

@media screen and (max-width: 600px) {
    #content {
        top: 20px;
        left: 15px;
    }

    #social {
        text-align: center;
        margin: 550px auto 20px auto;
        position: inherit;
        width: 100%;

    }

    #social a {
        width: 350px;
        height: 50px;
        display: inline-block;
        float: none;
    }

    #social a img {
        padding: 0;
        opacity: 0.5;
        vertical-align: middle;
    }

    #social a:hover img {
        transition: 0.2s;
        opacity: 1;
    }

    #social a p {
        color: #fff;
        text-align: left;
    }

    #social a:hover {
        width: 100%;
    }
}

@-webkit-keyframes WIDTH {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}

@-moz-keyframes WIDTH {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}

@-o-keyframes WIDTH {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}

@keyframes WIDTH {
    0% {
        width: 0;
    }

    100% {
        width: 30px;
    }
}

@-webkit-keyframes HEIGHT {
    0% {
        height: 0;
    }

    100% {
        height: 30px;
    }
}

@-moz-keyframes HEIGHT {
    0% {
        height: 0;
    }

    100% {
        height: 30px;
    }
}

@-o-keyframes HEIGHT {
    0% {
        height: 0;
    }

    100% {
        height: 30px;
    }
}

@keyframes HEIGHT {
    0% {
        height: 0;
    }

    100% {
        height: 30px;
    }
}

@-webkit-keyframes FADEIN {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes FADEIN {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes FADEIN {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes FADEIN {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes FADEIN2 {
    0% {
        opacity: 0;
    }

    79% {
        opacity: 0;
    }

    99% {
        opacity: 1;
    }
}

@-moz-keyframes FADEIN2 {
    0% {
        opacity: 0;
    }

    79% {
        opacity: 0;
    }

    99% {
        opacity: 1;
    }
}

@-o-keyframes FADEIN2 {
    0% {
        opacity: 0;
    }

    79% {
        opacity: 0;
    }

    99% {
        opacity: 1;
    }
}

@keyframes FADEIN2 {
    0% {
        opacity: 0;
    }

    79% {
        opacity: 0;
    }

    99% {
        opacity: 1;
    }
}

@-webkit-keyframes ZOOM {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}

@-moz-keyframes ZOOM {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}

@-o-keyframes ZOOM {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes ZOOM {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}

.topnav {
    overflow: hidden;
}

.topnav a {
    position: absolute;
    color: #f2f2f2;
    padding: 30px 30px;
    text-decoration: none;
    z-index: 2;
}